@import "./variables.scss";

.questionX {
  @include mobile {
    // display: grid;
    // grid-template-rows: repeat(4, 1fr);
    // grid-template-columns: repeat(2, 1fr);
    flex-direction: column !important;
    height: 100vh;
  }
  img {
    @include mobile {
      object-position: center !important;
      height: 25vh !important;
    }
  }
}

.questionWrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100dvh;

  .question {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &:hover img {
      scale: 1.1;
    }

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: top;
      z-index: 1;
      transition: 1s cubic-bezier(0.43, 0.14, 0.5, 1.02);
      user-select: none;
      -webkit-user-drag: none;
    }

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      color: $whiteText;
      font-size: 28px;
      font-weight: bold;
      font-family: $titleFont;
      text-transform: capitalize;
      @include w700 {
        font-size: 20px;
      }
    }
  }
}

.result,
.share {
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $secondaryColorLighter;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 999;

    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }

    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
      div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: $secondaryColorDarker;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }
    }

    p {
      font-family: $titleFont;
      color: $secondaryColorDarker;
    }
    .dif {
      font-family: sans-serif;
    }
  }

  .getSongCont {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 888;
    width: 100vw;
    height: 100vh;
    background: $secondaryColorLighter;
    .getSong {
      width: 250px;
      height: 50px;
      background: $secondaryColor;
      border: none;
      color: $whiteText;
      font-family: $titleFont;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  .resultCont {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .bgBlur {
      position: absolute;
      top: -20px;
      width: 110vw;
      height: 105vh;
      object-fit: cover;
      filter: blur(15px);
      -webkit-filter: blur(15px);
      z-index: -1;
    }

    figcaption {
      color: $whiteText;
      font-family: $titleFont;
      font-size: 4dvw;
      max-width: 50vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    button.topLeft {
      position: absolute;
      left: 20px;
      top: 20px;
      display: flex;
      flex-direction: column;
      color: $whiteText;
      cursor: pointer;
      border: none;
      outline: none;
      p {
        color: $whiteText;
        font-family: $titleFont;
      }
    }

    .shareTopLeft {
      width: 300px !important;
    }
    span.topLeft {
      border-bottom-right-radius: 50%;
      left: -55px;
    }
    span.topRight {
      border-bottom-left-radius: 50%;
      right: -55px;
    }

    span.topLeft,
    span.topRight {
      position: absolute;
      top: -55px;
      width: 150px;
      height: 150px;
      background: #5c5c5c;
      filter: blur(45px);
      -webkit-filter: blur(45px);
    }

    @keyframes upndown {
      0% {
        translate: 0;
      }
      42% {
        translate: 0;
      }
      50% {
        translate: 0 -10px;
      }
      58% {
        translate: 0;
      }
      65% {
        translate: 0 -10px;
      }
      73% {
        translate: 0;
      }
      100% {
        translate: 0;
      }
    }

    .back {
      left: 20px;
    }
    .share {
      right: 20px;
      animation: upndown 3s infinite ease;

      &:hover {
        animation: upndown 3s ease;
      }
    }

    button {
      border: none;
      background: transparent;
      cursor: pointer;
      top: 20px;
      position: absolute;

      i {
        scale: 1.3;
        color: $whiteText;
      }
    }

    .imgCont {
      position: relative;
      &:hover span.playButton,
      &:hover span.bgBefore {
        background-size: 100% 100%;
        scale: 1.5;
      }
      &:hover i {
        scale: 1.5;
      }

      span.bgBefore {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        padding: 25px;
        border-radius: 50%;
        background: #000;
        width: 62px;
        height: 62px;
        transition: 0.4s;
      }

      span.playButton {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        padding: 25px;
        border-radius: 50%;
        background: linear-gradient(180deg, #1ddf63, #1ddf63) left/0% 100%
          no-repeat;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        i {
          scale: 2;
          color: $mainColor;
          margin-left: 5px;
        }
      }
    }
  }
}

@keyframes up {
  0% {
    translate: -50% 600px;
  }
  100% {
    translate: -50% 0;
  }
}
@keyframes fadeIn {
  0% {
    background: rgba(31, 31, 31, 0);
  }
  100% {
    background: rgba(31, 31, 31, 0.541);
  }
}

.popupCont {
  position: relative;
  z-index: 199;
  .popupBg {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    animation: fadeIn 0.8s forwards;
  }
  .popup {
    width: 480px;
    height: 350px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    background: linear-gradient(to bottom, $mainColor, $mainColor, $grey);
    position: fixed;
    left: 50%;
    bottom: -30px;
    translate: -50% 0;
    overflow: scroll;
    animation: up 0.7s forwards cubic-bezier(0.42, 0, 0.23, 1.25);
    box-shadow: 0px 0px 15px 1px $blackText;

    @include mobile {
      height: auto;
      width: 95vw;
      bottom: -20px;
    }

    .top {
      position: sticky;
      top: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      border-bottom: 1px solid $grey;
      padding: 30px 30px 30px 20px;
      background: $mainColor;
      .left {
        display: flex;
        justify-content: center;
        img {
          width: 60px;
          border-radius: 50%;
        }
        span {
          overflow: hidden;
          white-space: nowrap;
          width: 120px;
          text-overflow: ellipsis;
          margin: auto;
          padding-left: 10px;
        }
        i {
          margin: auto;
          padding-left: 5px;
          cursor: pointer;

          &:active {
            scale: 0.8;
          }
        }
      }
      .right {
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #d7d7d76d;
          padding: 15px;
          border-radius: 50%;
          height: 40px;
          opacity: 0.8;
          cursor: pointer;

          i {
            scale: 1.3;
            color: $blackText;
          }
        }
      }
    }

    .bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 20px;
      @include mobile {
        grid-template-columns: repeat(3, 1fr);
      }
      @include w350 {
        grid-template-columns: repeat(2, 1fr);
      }
      ::-webkit-scrollbar {
        display: none;
      }
      .shareItem {
        border-radius: 30%;
        overflow: hidden;
        margin: auto auto 10px auto;
      }
    }
  }
}
